.l-column1-banner{
	position: relative;
	width: 447px;
	height: 300px;
	margin: 6px 14px 14px 0;
	_margin: 6px 7px 7px 0;
	padding: 14px;
	background: #fff;
	overflow: hidden;
	.box-shadow(0 0 3px rgba(0, 0, 0, 0.3));
	&:hover .u-prev{
		background: url(../../images/icon-prev.png) rgba(0, 0, 0, 0.5) left center no-repeat;
	}
	&:hover .u-next{
		background: url(../../images/icon-next.png) rgba(0, 0, 0, 0.5) left center no-repeat;
	}
	.u-prev{
		position: absolute;
		top: 110px;
		left: 14px;
		width: 26px;
		height: 60px;
		background: url(../../images/icon-prev.png) left center no-repeat;
		.hide-text();
	}
	.u-next{
		position: absolute;
		top: 110px;
		right: 14px;
		width: 26px;
		height: 60px;
		background: url(../../images/icon-next.png) right center no-repeat;
		.hide-text();
	}
}
.l-banner-box{
	width: 447px;
	li{
		float: left;
		p{
			display: block;
			width: 437px;
			height: 60px;
			line-height: 18px;
			padding: 5px;
			text-align: left;
			color: #fff;
			background: #7da70d;
			font-size: 16px;
			.ellipsis(3);
		}
	}

}