.l-header{
    padding: 22px 0;
    background: #fff;
    .est-layout-page(100%);
    .l-header-top{
        .est-layout-page(1000px);
    }
    .l-hot-search{
        a{
            display: inline-block;
            margin-right: 14px;
            color: #7DA70D;
            .centered-line(26px);
            .hover-link();
        }
    }
}