.l-column1-notice{
	width: 228px;
	height: 322px;
	margin-top: 0px;
	_margin: 0px 0 7px 0;
	padding: 0 18px;
	background: #fff;
	.box-shadow(0 0 3px rgba(0, 0, 0, 0.3));
	h2{
		text-align: center;
	}
	li{
		a{
			display: inline-block;
			width: 100% !important;
			height: 54px;
			transition: all .2s;
		  	&:hover img{
		  		margin-top: -2px;
		  	}
		}
	}
}
.l-notice-list{
	padding-bottom: 10px;
	border-bottom: #ddd solid 1px;
}
.l-noticenav-box{
	margin-top:6px;
	padding-top: 20px;
	border-top: #ddd solid 1px;
	li{
		float: left;
		width: 48px;
		margin: 0 6px;
		font-size: 12px;
		text-align: center;
		p{
			padding-top: 5px;
		}
	}
}