.l-column1-sidebar{
	width: 245px;
	height: 558px;
	margin:6px 14px 14px 2px;
	margin: 6px 7px 7px 2px\0;
	_margin: 6px 7px 7px 2px;
	background: url(../../images/icon-sidebar-bg.jpg) left top repeat;
	.box-shadow(0 0 3px rgba(0, 0, 0, 0.3));
	li{
		width: 165px;
		height: 72px;
		padding: 10px 0 10px 80px;
		border-bottom: #ddd solid 1px;
		background-position: 20px center;
		background-repeat: no-repeat;
		transition: all .2s;
		  	&:hover{
		  		background-position: 16px center;
		  	}
		a{
			display: inline-block;
			_width: 120px;
			_height: 64px;
		}
		h2{
			color: #7DA70D;
			font-size: 20px;
			font-weight: 500;
			.centered-line(40px);
			.hover-link();
			.ellipsis();
		}
		p{
			font-size: 14px;
			font-weight: 100;
			.ellipsis();
			.centered-line(24px);
		}
	}
	li.sidebar1{
		background-image: url(../../images/icon-sidebar01.png)
	}
	li.sidebar2{
		background-image: url(../../images/icon-sidebar02.png)
	}
	li.sidebar3{
		background-image: url(../../images/icon-sidebar03.png)
	}
	li.sidebar4{
		background-image: url(../../images/icon-sidebar04.png)
	}
	li.sidebar5{
		background-image: url(../../images/icon-sidebar05.png)
	}
	li.sidebar6{
		background-image: url(../../images/icon-sidebar06.png)
	}
}