/*! normalize-opentype v0.1.2 | MIT License | kennethormandy.com/journal/normalize-opentype-css */
/**
     * 1. Turn on kerning, standard ligatures, and proportional, oldstyle numerals
     *    Turn off all other ligatures, tabular, lining numerals, and alternates
     */
html,
body {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  /* 1. */
}
/* Headings
    ========================================================================== */
/**
     * 1. Turn on discretionary ligatures for larger headings
     */
h1,
h2,
h3 {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
  /* 1. */
}
/* Text-level semantics
    ========================================================================== */
/**
     * 1. Change all letters to uppercase
     * 2. Turn on small caps for upper and lowercase letters
     */
abbr {
  text-transform: uppercase;
  /* 1 */
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
  /* 2 */
}
/*
     * TODO: Turn on diagonal fractions where appropriate
     */
time {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
}
/*
     * 1. Turn off kerning and ligatures,
     *    Turn on lining, tabular numerals, slashed zero
     */
pre,
kbd,
samp,
code {
  font-feature-settings: "kern" 0, "liga" 0, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  /* 1. */
}
/**
     * 1. Turn on proper supercript numerals
     */
sup {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
  /* 1. */
}
/**
     * 1. Turn on proper subscript numerals
     */
sub {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
  /* 1. */
}
/* Tables
    ========================================================================== */
/**
     * 1. Turns on tabular, lining numerals and slashed zero
     *    Turns off kerning, as it could impact tabular numerals
     */
table {
  font-feature-settings: "kern" 0, "liga" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  /* 1. */
}
/**
     * 1. Revert to defaults for table headings
     */
table thead,
table tfoot {
  font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  /* 2. */
}
/* Forms
    ========================================================================== */
/**
     * 1. Turns on lining, proportional numerals without clarified zeroes
     * TODO: Additional input modes https://developer.mozilla.org/en/docs/Web/HTML/Element/Input#attr-inputmode
     */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="number"],
input[type="range"],
input[type="tel"],
input[type="week"] {
  font-feature-settings: "kern" 0, "liga" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 1, "zero" 0;
  /* 1. */
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
body {
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "wenquanyi micro hei", sans-serif;
  color: #666;
  font-size: 14px;
  background: #F3F7F9;
}
a {
  color: #666;
  text-decoration: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
td,
th {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
ul,
ol,
li {
  list-style: none;
}
textarea::-webkit-input-placeholder {
  color: #add8e6;
}
textarea:-moz-placeholder {
  color: #add8e6;
}
textarea::-moz-placeholder {
  color: #add8e6;
}
textarea:-ms-input-placeholder {
  color: #add8e6;
}
.l-left {
  float: left;
}
.l-right {
  float: right;
}
.l-float {
  *zoom: 1;
}
.l-float:before,
.l-float:after {
  display: table;
  content: "";
}
.l-float:after {
  clear: both;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.mian {
  background: #F3F7F9;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
.body-bg {
  background: url(../../images/bady-bg.jpg) center 200px no-repeat;
}
.font-y {
  font-family: "Microsoft YaHei" Arial, sans-serif;
}
.font-s {
  font-family: "SimSun" Arial, sans-serif;
}
.fontc-bai {
  color: #ffffff;
}
.fontc-hei {
  color: #373737;
}
.fontc-hui {
  color: #818181;
}
.fontc-lv {
  color: #7DA70D;
}
.fontz36 {
  font-size: 36px;
}
.fontz24 {
  font-size: 24px;
}
.fontz18 {
  font-size: 18px;
}
.fontz16 {
  font-size: 14px;
}
.fontz14 {
  font-size: 14px;
}
.fontz12 {
  font-size: 12px;
}
.bg-bai {
  background: #ffffff;
}
.bg-lv {
  background: #7DA70D;
}
.bg-lan {
  background: #F3F7F9;
}
.bg-food {
  background: #F7F7F7;
}
.border-bottom {
  border-bottom: #ddd solid 1px;
}
.u-search {
  width: 352px;
}
/* searchTxt */
.searchTxt {
  float: left;
  width: 256px;
  height: 34px;
  border: 2px solid #7DA70D;
  border-right: 0;
  position: relative;
  z-index: 20;
  background: #fff;
}
.searchTxt .radius {
  width: 1px;
  height: 1px;
  overflow: hidden;
  background: #f4f4f4;
  position: absolute;
  top: -2px;
  left: -2px;
}
.searchTxtHover {
  float: left;
  width: 256px;
  height: 34px;
  border: 2px solid #7DA70D;
  border-right: 0;
  position: relative;
  z-index: 20;
  background: #fff;
}
.searchTxtHover .radius {
  width: 1px;
  height: 1px;
  overflow: hidden;
  background: #cce5f5;
  position: absolute;
  top: -2px;
  left: -2px;
}
.searchTxt .searchMenu {
  float: left;
  width: 68px;
  background: url(../../images/icon-drop-down.png) #f8f8f8 no-repeat 80px center;
}
.searchTxt .searchMenu .searchSelected {
  color: #a8a8a8;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  width: 66px;
  background-position: 0px -48px;
  text-align: center;
}
.searchTxt .searchMenu .searchTab {
  display: none;
  position: absolute;
  top: 34px;
  left: -2px;
  width: 66px;
  border: 2px solid #7DA70D;
  border-top: 0;
  background: #fff;
  height: auto;
  z-index: 20;
}
.searchTxt .searchMenu .searchTab li {
  width: 66px;
  height: 28px;
  line-height: 28px;
  color: #a8a8a8;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}
.searchTxt .searchMenu .searchTab li.selected {
  background: #edf3fc;
  color: #6994c1;
}
.searchTxt input {
  float: left;
  border: 0;
  background: #fff;
  color: #333;
  font: 14px/22px 'å®‹ä½“', verdana, tahoma, arial, 'SimSun', sans-serif;
  width: 180px;
  height: 24px;
  margin: 0;
  outline: medium none;
  padding: 4px;
}
.searchTxt .sosoLogo {
  float: right;
  margin: 8px 6px 0 0;
  display: inline;
}
.searchBtn {
  float: left;
}
.searchBtn button {
  background-position: 0px 0px;
  border: 0;
  color: #fff;
  cursor: pointer;
  float: left;
  font-size: 16px;
  height: 38px;
  width: 92px;
  font-weight: bold;
  background: #7DA70D;
}
.l-top-nav {
  width: 100%;
  height: 35px;
  background: url(../../images/icon-top-nav-bg.jpg) left top repeat-x;
}
.top-nav-mian {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
.top-nav-mian .l-left {
  height: 35px;
  line-height: 35px;
}
.top-nav-mian li {
  float: left;
  margin-right: 10px;
  height: 35px;
  line-height: 35px;
}
.top-nav-mian li a {
  margin-right: 10px;
}
.l-header {
  padding: 22px 0;
  background: #fff;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.l-header .l-header-top {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
.l-header .l-hot-search a {
  font-size: 14px;
  font-weight: 100;
  display: inline-block;
  margin-right: 14px;
  margin-right: 12px\9;
  _margin-right: 12px;
  color: #7DA70D;
  height: 26px;
  line-height: 26px;
  text-decoration: none;
}
.l-header .l-hot-search a:hover {
  text-decoration: underline;
}
.l-nav-box {
  height: 56px;
  background: #fff;
  position: relative;
  z-index: 9;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border: #ddd solid 1px\0;
  _border: #ddd solid 1px;
}
.u-nav {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
.u-nav li {
  float: left;
  width: 125px;
  height: 56px;
}
.u-nav li a {
  display: inline-block;
  width: 121px;
  margin: 0 2px;
  font-size: 20px;
  text-align: center;
  height: 56px;
  line-height: 56px;
}
.u-nav li .active,
.u-nav li a:hover {
  background: #7DA70D;
  color: #fff;
}
.l-secondary-nav {
  padding: 10px;
}
.l-secondary-nav .l-left {
  border: #ddd solid 1px\0;
  _border: #ddd solid 1px;
  _width: 500px;
}
.l-secondary-nav .l-right {
  border: #ddd solid 1px\0;
  _width: 470px;
  _border: #ddd solid 1px;
}
.l-secondary-nav ul {
  display: block;
  height: 41px;
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.l-secondary-nav li {
  float: left;
  color: #7DA70D;
}
.l-secondary-nav li a {
  display: inline-block;
  padding: 0 6px;
  color: #7DA70D;
  height: 41px;
  line-height: 41px;
  text-decoration: none;
}
.l-secondary-nav li a:hover {
  text-decoration: underline;
}
.columu-tit {
  border-bottom: #7DA70D solid 1px;
  color: #7DA70D;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  height: 36px;
  line-height: 36px;
}
.columu-more {
  position: absolute;
  right: 0;
  top: 7px;
  _top: 0px;
  display: inline-block;
  width: 62px;
  height: 24px;
  background: url(../../images/icon-column-more.png) center center no-repeat;
  opacity: 0.9;
  filter: alpha(opacity=90);
  text-indent: -9999px;
  overflow: hidden;
  text-align: left;
}
.columu-more:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.l-notice-list,
.u-list {
  margin: 4px 0;
}
.l-notice-list li,
.u-list li {
  padding-left: 14px;
  background: url(../../images/icon-lest-dot.png) left center no-repeat;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
.l-notice-list li a,
.u-list li a {
  display: inline-block;
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}
.l-notice-list li a:hover,
.u-list li a:hover {
  text-decoration: underline;
}
.l-notice-list li a:hover,
.u-list li a:hover {
  color: #7DA70D;
}
.l-notice-list li em,
.u-list li em {
  float: right;
  color: #7DA70D;
  height: 28px;
  line-height: 28px;
}
.l-column1-right {
  width: 739px;
  _float: right;
}
.l-mian-column2-right {
  width: 662px;
}
.l-column1-news {
  width: 723px;
  padding: 0 8px;
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.l-column1-news .news-list1 {
  width: 344px;
  padding-right: 20px;
  border-right: #ddd solid 1px;
}
.l-column1-news .news-list2 {
  width: 334px;
  padding-left: 24px;
}
.l-mian-expert {
  width: 300px;
  height: 420px;
  padding: 0 12px;
  background: #fff;
  overflow: hidden;
}
.l-mian-expert h2 {
  padding-left: 38px;
  border-bottom: #ddd solid 1px;
  color: #7DA70D;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  background: url(../../images/icon-expert-tit.jpg) 12px center no-repeat;
  height: 36px;
  line-height: 36px;
}
.l-mian-expert h2 a {
  position: absolute;
  display: inline-block;
  top: 10px;
  width: 20px;
  background: #7DA70D;
  color: #fff;
  font-size: 20px;
  text-align: center;
  height: 20px;
  line-height: 20px;
}
.l-mian-expert h2 .expert-prev {
  right: 22px;
}
.l-mian-expert h2 .expert-next {
  right: 0;
}
.l-mian-expert li {
  margin: 14px 0;
  height: 105px;
}
.l-expert-box {
  width: 300px;
  height: 368px;
  overflow: hidden;
}
.u-expert-img {
  width: 105px;
  height: 105px;
  position: relative;
}
.u-expert-img .u-expert-imgcircle {
  width: 105px;
  height: 105px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background: url(../../images/icon-expert-imgcircle.png) center center no-repeat;
}
.u-expert-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 105px;
  height: 105px;
  z-index: 99;
}
.u-expert-info {
  margin-left: 10px;
  width: 184px;
  height: 105px;
}
.u-expert-info .expert-name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  height: 28px;
  line-height: 28px;
}
.u-expert-info .expert-position {
  font-size: 14px;
  font-weight: 100;
  height: 28px;
  line-height: 28px;
}
.u-expert-info .expert-speciality {
  font-size: 14px;
  font-weight: 100;
  height: 20px;
  line-height: 20px;
}
.l-mian-rain,
.l-mian-nurse {
  width: 638px;
  height: 204px;
  padding: 0 12px;
  background: #fff;
}
.l-mian-rain {
  margin-bottom: 14px;
}
.l-column2-list1 {
  width: 340px;
  padding-top: 16px;
  overflow: hidden;
}
.l-column2-list1 .u-list1-info {
  width: 182px;
  padding-left: 6px;
}
.l-column2-list1 .f-title {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  background: url(../../images/icon-lest-dot.png) left 8px no-repeat;
  height: 40px;
  line-height: 20px;
  text-indent: 14px;
  overflow: hidden;
}
.l-column2-list1 .f-basic {
  font-size: 12px;
  font-weight: 500;
  color: #7DA70D;
  height: 28px;
  line-height: 28px;
}
.l-column2-list1 .f-abstract {
  padding: 4px 0;
  font-size: 14px;
  text-indent: 24px;
  height: 20px;
  line-height: 20px;
}
.l-column2-list {
  padding-top: 10px;
}
.l-mian-column5 {
  height: 258px;
  margin-bottom: 14px;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
.l-media-box {
  width: 340px;
  height: 258px;
  padding: 0 12px;
  margin-right: 10px;
  background: #fff;
  overflow: hidden;
}
.l-wj-box {
  width: 224px;
  height: 258px;
  padding: 0 12px;
  background: #fff;
  overflow: hidden;
}
.l-column1-sidebar {
  width: 245px;
  height: 558px;
  margin: 6px 14px 14px 2px;
  margin: 6px 7px 7px 2px\0;
  _margin: 6px 7px 7px 2px;
  background: url(../../images/icon-sidebar-bg.jpg) left top repeat;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.l-column1-sidebar li {
  width: 165px;
  height: 72px;
  padding: 10px 0 10px 80px;
  border-bottom: #ddd solid 1px;
  background-position: 20px center;
  background-repeat: no-repeat;
}
.l-column1-sidebar li h2 {
  color: #7DA70D;
  font-size: 20px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
.l-column1-sidebar li h2:hover {
  text-decoration: underline;
}
.l-column1-sidebar li p {
  font-size: 14px;
  font-weight: 100;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  height: 24px;
  line-height: 24px;
}
.l-column1-sidebar li.sidebar1 {
  background-image: url(../../images/icon-sidebar01.png);
}
.l-column1-sidebar li.sidebar2 {
  background-image: url(../../images/icon-sidebar02.png);
}
.l-column1-sidebar li.sidebar3 {
  background-image: url(../../images/icon-sidebar03.png);
}
.l-column1-sidebar li.sidebar4 {
  background-image: url(../../images/icon-sidebar04.png);
}
.l-column1-sidebar li.sidebar5 {
  background-image: url(../../images/icon-sidebar05.png);
}
.l-column1-sidebar li.sidebar6 {
  background-image: url(../../images/icon-sidebar06.png);
}
.l-column1-banner {
  position: relative;
  width: 447px;
  height: 300px;
  margin: 6px 14px 14px 0;
  _margin: 6px 7px 7px 0;
  padding: 14px;
  background: #fff;
  overflow: hidden;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.l-column1-banner .u-prev {
  position: absolute;
  top: 110px;
  left: 14px;
  width: 26px;
  height: 60px;
  background: url(../../images/icon-prev.png) left center no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  text-align: left;
}
.l-column1-banner .u-next {
  position: absolute;
  top: 110px;
  right: 14px;
  width: 26px;
  height: 60px;
  background: url(../../images/icon-next.png) right center no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  text-align: left;
}
.l-banner-box {
  width: 447px;
}
.l-banner-box li {
  float: left;
}
.l-banner-box li p {
  display: block;
  height: 60px;
  padding: 5px;
  text-align: center;
  color: #d5d5d5;
  background: #2d2d2d;
}
.l-column1-notice {
  width: 222px;
  height: 328px;
  margin-top: 6px;
  _margin: 6px 0 7px 0;
  padding: 0 14px;
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.l-column1-notice h2 {
  text-align: center;
}
.l-column1-notice li a {
  width: 100% !important;
}
.l-notice-list {
  padding-bottom: 10px;
  border-bottom: #ddd solid 1px;
}
.l-noticenav-box {
  margin-top: 6px;
  padding-top: 14px;
  border-top: #ddd solid 1px;
}
.l-noticenav-box li {
  float: left;
  margin: 0 3px;
  text-align: center;
}
.l-mian-Features1,
.l-mian-Features3 {
  height: 50px;
  margin-bottom: 14px;
  overflow: hidden;
}
.l-mian-Features1 li,
.l-mian-Features3 li {
  float: left;
  width: 248px;
  overflow: hidden;
  margin: 0 1px;
  _margin: 0 1px 0 0;
}
.l-mian-Features1 li img,
.l-mian-Features3 li img {
  width: 100%;
}
.l-mian-Features2 {
  height: 82px;
  margin-bottom: 14px;
  overflow: hidden;
}
.l-mian-Features2 li {
  float: left;
  width: 498px;
  margin: 0 1px;
}
.l-mian-Features2 img {
  width: 100%;
}
.l-bottomnav-box {
  width: 100%;
  height: 94px;
  margin-bottom: 14px;
  background: #fff;
}
.u-bottomnav {
  height: 94px;
  overflow: hidden;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
.u-bottomnav li {
  float: left;
  width: 125px;
  height: 94px;
}
.u-bottomnav li a {
  display: inline-block;
  width: 125px;
  height: 94px;
}
.u-bottomnav li p {
  width: 125px;
  margin-top: 64px;
  text-align: center;
}
.u-bottomnav .item1 {
  background: url(../../images/icon-bottom-nav-oa.png) center 6px no-repeat;
}
.u-bottomnav .item2 {
  background: url(../../images/icon-bottom-nav-bbs.png) center 6px no-repeat;
}
.u-bottomnav .item3 {
  background: url(../../images/icon-bottom-nav-use.png) center 6px no-repeat;
}
.u-bottomnav .item4 {
  background: url(../../images/icon-bottom-nav-zlyy.png) center 6px no-repeat;
}
.u-bottomnav .item5 {
  background: url(../../images/icon-bottom-nav-ywgk.png) center 6px no-repeat;
}
.u-bottomnav .item6 {
  background: url(../../images/icon-bottom-nav-yk.png) center 6px no-repeat;
}
.u-bottomnav .item7 {
  background: url(../../images/icon-bottom-nav-ypcx.png) center 6px no-repeat;
}
.u-bottomnav .item8 {
  background: url(../../images/icon-bottom-nav-caj.png) center 6px no-repeat;
}
.u-bottomnav .item9 {
  background: url(../../images/icon-bottom-nav-ygyy.png) center 6px no-repeat;
}
.fooder {
  width: 100%;
  border-top: #7ea70d solid 1px;
  background: #f8f8f8;
}
.l-fooder-mian {
  position: relative;
  padding: 34px 0 24px 0;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
.l-fooder-mian p {
  text-align: center;
  height: 26px;
  line-height: 26px;
}
.u-two-dimension-code {
  position: absolute;
  top: 30px;
  right: 0;
}
